<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.pokedoc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Gmail">
        </activity>
        <activity android:name=".PatientAboutUs">
        </activity>
        <activity android:name=".FoodWiki">
        </activity>
        <activity
                android:name=".ViewReportsDoctor"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".AddMeal"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".ViewAllFiles"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".ChatActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".PrescriptionDetails"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".AddPrescription"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".PatientOverview"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".PrescriptionPatient"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".SetReminder"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>

        <receiver
                android:name=".AlarmReciever"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan"/>

        <activity
                android:name=".AddPatientActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".DoctorDashboard"
                android:hardwareAccelerated="false"
                android:largeHeap="true"
                android:theme="@style/AppTheme.Toolbar"/>
        <activity
                android:name=".PatientDashboard"
                android:hardwareAccelerated="false"
                android:largeHeap="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Toolbar"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".RoleActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>